@font-face {
    font-family: 'Fontdiner Swanky';
    src        : url(../Font/FontdinerSwanky-Regular.ttf);
}

.aside-right>div {
    text-align: center;
  /*  height    : flex;
    width     : flex;*/
}

.idiomas>a {
    margin: 10px;
}

.idiomas>h1 {
    font-family: 'Solway', serif;
    font-size  : 30px;
    margin     : 50px;
}

.recomendacion>h1 {
    font-family: 'Solway', serif;
    margin-top : 100px;
    font-size  : 30px;
}

.recomendacion>div {
    background-image: url(../img/Irlandes.jpeg);
    height          : 400px;
    width           : 250px;
    margin-top      : 100px;
    margin-left     : 50px
}

.recomendacion>h3 {
    opacity: 0;
}

.recomendacion>a {
    color: white;
}

.p-documentales {
    font-family  : Fontdiner Swanky;
    color        : rgb(247, 191, 38);
    font-size    : 25px;
    margin-bottom: 80px;
    margin-top   : 100px;
}

.ul-documentales>li {
    color: darkgray;
}

.ul-documentales>li a {
    font-family    : 'Solway', serif;
    font-size      : 20px;
    text-decoration: none;
    color          : darkgray;
}

.ul-documentales>li a:hover {
    color: rgb(247, 191, 38);
}

.trailer{
    visibility: hidden;
}