
.div-a-L{
    border: 1px solid rgb(250, 239, 239);
    height: 400px;
}

.pelis-año{
    text-align: center;
    height: 300px;
    font-size: 25px;
    border: 1px solid rgb(224, 207, 207);
}

.h2-div-L{
    text-align: center;
    font-size: 35px;
}

.select-L{
    -webkit-appearance: none;
    -moz-appearance:none; 
     -webkit-border-radius:0;
     -moz-border-radius:0;
      appearance:none;
       border: none;
       padding: 10px;
       margin: 0;
       width: 50%;;
       border-radius: 0;
       font-size: 20px;
       box-shadow: 2px 2px 10px teal;
       background: linear-gradient(70deg, black, white);
}

.categorias{
    font-size: 20px;
    color: teal;
    margin-top: 60px;
}

.a{
    text-decoration: none;
    color:teal;
}

.a:hover{
    text-shadow: 2px 2px 2px #aaa;
}