
.container {
  /*color: blanchedalmond;*/
  background: linear-gradient(70deg, black, white);
  margin: 0 auto;
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header" "header" "header"
                       "animacion" "animacion" "animacion"
                       "aside-left" "main" "aside-right"
                       "footer" "footer" "footer";

}
 
.header {
  grid-area: header;
  height: auto;
  width: auto;
  background-color: blueviolet;
}


.animacion{
  grid-area: animacion;
  height: auto;
  width: auto;
}
 
.aside-left {
    grid-area: aside-left;
    height: auto;
    width: auto;
}

.main {
  grid-area: main;
  height: auto;
  width: auto;
  background-color: indigo;
}

.aside-right{
  grid-area: aside-right;
  height: auto;
  width: auto;
  background-color: rgb(139, 0, 0);
}
 
.footer {
    grid-area: footer;
    height: auto;
    width: auto;
    background-color: darkorchid;
}