  @font-face {
    font-family: 'Fontdiner Swanky';
    src        : url(../Font/FontdinerSwanky-Regular.ttf);
  }


  @font-face {
    font-family: 'icomoon';
    src        : url('../css/fonts/icomoon.eot') format('embedded-opentype'),
      url('../fonts/icomoon.ttf') format('truetype'),
      url('../fonts/icomoon.woff') format('woff'),
      url('../fonts/icomoon.svg') format('svg');
    font-weight : normal;
    font-style  : normal;
    font-display: block;
  }

  .nav {
    display              : grid;
    max-width            : 100%;
    grid-template-columns: 1fr 3fr;
    background           : black;
  }

  .logo {
    grid-column: 1/1;
    z-index    : 999;
  }

  .h1-logo {
    font-family: Fontdiner Swanky;
    margin-top : 30px;
    font-size  : 30px;
    margin-left: 10px;
    padding    : 0px;
    color      : rgb(247, 191, 38);
    z-index    : 999;
  }

  .div-nav {
    display              : grid;
    grid-template-columns: 50% 50%;
    align-content        : center;
    z-index              : 999;
  }

  .ul-nav {
    grid-column: 1/2;
    height     : 80px;
    text-align : center;
  }

  .li-nav {
    font-family: 'Solway', serif;
    display    : inline-block;
    font-size  : 20px;
    margin     : 20px 35px 0px 0px;
  }

  .a-nav {
    color          : white;
    text-decoration: none;
    border-radius  : 10px;
    padding        : 2px 4px 4px 4px;
  }

  .li-nav>a:hover {
    background: rgb(1, 224, 253);
    color     : black;
  }

  .div-search {
    width   : 100%;
    position: relative;
    display : flex;
  }

  .search {
    width        : 50%;
    border-right : none;
    padding      : 5px;
    height       : 20px;
    border-radius: 5px 0 0 5px;
    outline      : none;
    margin-left  : 100px;
    margin-top   : 30px;
    border       : 3px solid #00B4CC;
    color        : #9DBFAF;
  }

  .button-search {
    font-family  : icomoon;
    width        : 40px;
    height       : 36px;
    border       : 1px solid #00B4CC;
    text-align   : center;
    margin-top   : 30px;
    color        : rgb(9, 70, 67);
    border-radius: 0 5px 5px 0;
    cursor       : pointer;
    font-size    : 20px;
  }

  .button-search:hover {
    box-shadow: 0px 0px 10px rgb(3, 170, 236);
  }

  .icon-search:before {
    content: "\e986";
  }