/*---Responsive de la cabecera---*/

@media all and (max-width: 900px) {

    .header {
        height: 110px;
    }

    .nav {
        background: black;
    }

    .logo {
        height: 300px;
        width: 200px;
    }

    .ul-nav {
        opacity: 0;
        margin-left: -216px;
        margin-top: 106px;
        width: 200px;
        height: 200px;
        padding: 10px;
        background-color: black;
        transform: translateY(-100%);
    }

    .ul-nav:hover {
        transform: translatey(0%);
        transition: 3s;
        opacity: 1;
    }

    .li-nav {
        float: left;
        font-family: 'Solway', serif;
        font-size: 20px;
        margin: 20px;
    }


    .div-search {
        height: 100px;
        margin-left: -50px;
        padding: 0px;
    }

    .search {
        width: 50%;
        border-right: none;
        margin-left: 10%;
        height: 20px;
        border-radius: 5px 0 0 5px;
        margin-top: 30px;
        border: 3px solid #00B4CC;
        color: #9DBFAF;

    }

}

@media all and (max-width: 850px) {
    .ul-nav {
        margin-left: -200px;
    }
}


@media all and (min-width: 900px) and (max-width: 1300px) {
    .a-nav {
        padding: 0px;
    }

    .ul-nav {
        width: 500px;
        padding: 0px;
    }

    .li-nav {
        margin: 20px 10px 0px 0px;
        padding: 0px;
    }
}


/*---Responsive de la animacion---*/


@media all and (max-width: 1300px) {
    .animacion {
        display: none;
    }
}

/*---Responsive del aside-left---*/

@media all and (max-width: 1300px) {
    .h2-div-L {
        font-size: 20px;
    }

    .pelis-año {
        font-size: 20px;
    }

    .a {
        font-size: 20px;
    }

    .p-series {
        font-size: 20px;
    }

    .ul-series > li a {
        font-size: 15px;
    }

}


/*---Responsive del you are welcome---*/


@media all and (max-width: 1400px) {
    .audio {
        margin-left: 190px;
    }
}

@media all and (max-width: 1300px) {
    .audio {
        margin-left: 160px;
    }
}


@media all and (max-width: 1150px) {
    .audio {
        margin-left: 100px;
    }
}


@media all and (max-width: 900px) {
    .audio {
        margin-left: 50px;
    }
}

@media all and (max-width: 750px) {
    .audio {
        visibility: hidden;
    }
}


/*---Responsive del aside-right---*/


@media all and (max-width: 1300px) {
    .recomendacion > div {
        display: none;
    }

    .recomendacion > h3 {
        opacity: 1;
        color: lavender;
    }

    .recomendacion > h1 {
        font-size: 20px;
    }

    .idiomas > h1 {
        font-size: 20px;
    }

    .p-documentales {
        font-size: 20px;
    }

    .ul-documentales > li a {
        font-size: 15px;
    }
}


/*---Responsive del footer---*/


@media all and (max-width: 800px) {
    .red-social {
        margin-right: 100px;
    }
}

@media all and (max-width: 700px) {
    .red-social {
        margin-right: 160px;
    }
}


/* Responsive video */


@media all and (max-width: 1200px) {
    .video {
        visibility: hidden;
    }

    .trailer{
        visibility: visible;
        font-size: 20px;
        color: white;
        margin-left: 40%;
    }
}